<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="org.hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.url">placeholder</property>
		<property name="hibernate.connection.username">placeholder</property>
		<property name="hibernate.connection.password">placeholder</property>
		<property name="hibernate.connection.pool_size">5</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<mapping class="com.reflectquiz.model.User"/>
		<mapping class="com.reflectquiz.model.Question"/>
		<mapping class="com.reflectquiz.model.Quiz"/>
		<mapping class="com.reflectquiz.model.Survey"/>
		
	</session-factory>
</hibernate-configuration>