
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        Reflect: Adaptive Quizzes
    </a>

    <button class="btn btn-primary btn-lg py-3" type="button" (click)="toggleNavbar()">
    </button>


    <div *ngIf="navbarOpen">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" id="logout" routerLinkActive="active">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/quiz/view" id="quiz-create" routerLinkActive="active"> View Quizzes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/survey/view/all" id="survey-view" routerLinkActive="active"> View
                    Surveys </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/survey/create" id="survey-create" routerLinkActive="active"> Make
                    Survey </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/question/view" id="question-view" routerLinkActive="active"> View
                    Questions
                </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>